* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.movieFrame{
    margin-bottom: 10px;
    margin-left: 10px;
}
